@font-face {
    font-family: Poppins__Bold;
    src: url('../Fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins__ExtraBold;
    src: url('../Fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: Poppins__Medium;
    src: url('../Fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins__Regular;
    src: url('../Fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins__SemiBold;
    src: url('../Fonts/Poppins/Poppins-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.net {
    height: 100vh;
}

.bg_img img {
    width: 100%;
}

/* .content{
    max-width: 1600px;
    margin: auto;
} */

/* **************** */

.row__hurry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column__stop {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1
}

.step__one__column {
    /* border: 1px solid black; */
    height: auto;
}

.step__two__column {
    height: auto;
    /* border: 1px solid black; */
}

.double__column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2
}

/* ******* */

.bg_img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ab__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.head__teg {
    text-align: center;
    background-color: #E70000;
    border-bottom-right-radius: 100px;
    padding: 10px 0px 10px 0px;
}

.head__teg span {
    padding: 20px;
}

.head__teg h1 {
    color: #FFFFFF;
    font-family: 'Poppins__ExtraBold';
    font-size: calc(26pt + 0.15vw);
}

@media screen and (max-width: 1080px) {
    .head__teg h1 {
        font-size: calc(12pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .head__teg h1 {
        font-size: calc(8pt + 0.15vw);
    }
    .head__teg span {
        padding: 10px;
    }
    .head__teg {
        padding: 5px 0px 5px 0px;
    }
}

.para__teg p {
    color: #FFFFFF;
    font-size: calc(16pt + 0.15vw);
    font-family: 'Poppins__Medium';
    letter-spacing: 0.03em;
}

.para__teg {
    text-align: center;
}

.para__teg span {
    font-family: 'Poppins__Bold';
}

@media screen and (max-width: 1080px) {
    .para__teg p {
        font-size: calc(9pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .para__teg p {
        font-size: calc(6pt + 0.15vw);
    }
    .para__teg {
        padding: 2px 0px 0px 0px;
    }
}

.para__gen h3 {
    /* text-shadow: 4px 4px 2px #D70006; */
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FF4C1A;
    -webkit-text-fill-color: #FFFFFF;
    text-shadow: -3px 2px 0px #D70006;
    font-size: calc(18pt + 0.15vw);
    font-family: 'Poppins__Bold';
    letter-spacing: 0.03em;
    line-height: 1.2196;
}

.para__gen {
    text-align: center;
    background-color: #ffbf584a;
    padding: 10px 0px;
}

.para__gen span {
    font-size: calc(16pt + 0.15vw);
    font-family: 'Poppins__Medium';
}

.para__gen .one {
    display: none;
}

@media screen and (max-width: 1080px) {
    .para__gen h3 {
        font-size: calc(10pt + 0.15vw);
        text-shadow: -1px 2px 0px #D70006;
    }
    .para__gen span {
        font-size: calc(10pt + 0.15vw);
        text-shadow: none;
        -webkit-text-fill-color: #FFFFFF;
        font-family: 'Poppins__Bold';
    }
}

@media screen and (max-width: 640px) {
    .para__gen h3 {
        font-size: calc(8pt + 0.15vw);
    }
    .para__gen span {
        font-size: calc(8pt + 0.15vw);
        text-shadow: none;
        -webkit-text-fill-color: #FFFFFF;
    }
    .para__gen {
        padding: 5px 0px;
    }
    .para__gen .one {
        display: block;
    }
}

.para__plr {
    text-align: center;
}

.para__plr p {
    color: #FFFFFF;
    font-family: 'Poppins__Medium';
    font-size: calc(12pt + 0.15vw);
    letter-spacing: 0.03em;
}

.para__plr .two {
    display: none;
}

@media screen and (max-width: 1080px) {
    .para__plr p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .para__plr p {
        font-size: calc(6pt + 0.15vw);
    }
    .para__plr .two {
        display: block;
    }
}

.black__text p {
    color: #02081C;
    font-family: 'Poppins__SemiBold';
    font-size: calc(17pt + 0.15vw);
    letter-spacing: 0.03em;
}

.black__text {
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .black__text p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .black__text p {
        font-size: calc(6pt + 0.15vw);
    }
}

.white__bg {
    text-align: center;
}

.bt__white {
    background-color: #ffffffbf;
    padding: 8px 150px;
}

.white__bg p {
    font-family: 'Poppins__Bold';
    color: #FF0101;
    font-size: calc(18pt + 0.15vw);
    letter-spacing: 0.03em;
}

@media screen and (max-width: 1080px) {
    .white__bg p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .white__bg p {
        font-size: calc(6pt + 0.15vw);
    }
    .bt__white {
        background-color: #ffffff9e;
        padding: 8px 10px;
    }
}

@media screen and (max-width: 539px) {
    .mob {
        background: conic-gradient(from 180deg at 50% 50%, #E89433 -83.33deg, #F09A37 34.76deg, #E89433 91.04deg, #DA872F 143.04deg, #C17227 169.59deg, #E89433 276.67deg, #F09A37 394.76deg);
        width: 200%;
        margin-left: -5rem;
    }
}

@media screen and (max-width: 320px) {
    .mob {
        margin: -18px;
    }
}

.Email__text {
    margin: 50px 0px 0px 0px;
    text-align: center;
}

.Email__text p {
    color: #000000;
    font-family: 'Poppins__Medium';
    font-size: calc(12pt + 0.15vw);
    letter-spacing: 0.03em;
}

@media screen and (max-width: 1080px) {
    .Email__text p {
        font-size: calc(8pt + 0.15vw);
    }
    .Email__text {
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 640px) {
    .Email__text p {
        font-size: calc(6pt + 0.15vw);
    }
}

.two__input {
    max-width: 60%;
    margin: auto;
}

.form-control:focus {
    color: #212529;
    background-color: #FBF0DF;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    border: 2px dashed #FFA783;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #FFA783;
}

.form-control {
    background-color: #FBF0DF;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    border: 1px dashed #FFA783;
    padding: 10px;
    border-radius: 10px;
}

input[type="text"] {
    font-family: 'Poppins__Regular';
    font-size: calc(10pt + 0.15vw);
}

.form-control::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    /* Firefox */
}

.form-control::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    /* Firefox */
}

.form-control::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    /* Firefox */
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
}

@media screen and (max-width: 640px) {
    .two__input .row {
        flex-direction: column;
    }
    .two__input {
        max-width: 60%;
    }
    .two__input .col {
        margin: 0px 0px 10px 0px;
    }
}

@media screen and (max-width: 320px) {
    .two__input .row {
        flex-direction: column;
    }
    .two__input {
        max-width: 50%;
    }
    .mob {
        margin-left: -5rem;
    }
}

.btn1 {
    text-align: center;
}

.btn1 button {
    border: none;
    padding: 10px 50px;
    background-color: #FF0101;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins__Bold';
    font-size: calc(12pt + 00.15vw);
    transition: .3s ease-in-out;
    box-shadow: 0px 12px 24px rgba(76, 70, 70, 0.18);
}

.btn1:hover button {
    background-color: #FBF0DF;
    color: black;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 1080px) {
    .btn1 button {
        padding: 10px 30px;
        font-size: calc(8pt + 00.15vw);
    }
}

@media screen and (max-width: 640px) {
    .btn1 button {
        padding: 10px 8px;
        font-size: calc(6pt + 00.15vw);
    }
}